@import "tailwindcss";
@import "@nuxt/ui";

:root {
  /* https://ui.nuxt.com/getting-started/theme#colors */

  --ui-primary: var(--ui-color-primary-500);
  --ui-secondary: var(--ui-color-secondary-500);
  --ui-success: var(--ui-color-success-500);
  --ui-info: var(--ui-color-info-500);
  --ui-warning: var(--ui-color-warning-500);
  --ui-error: var(--ui-color-error-500);

  --ui-bg: var(--ui-color-neutral-50);
  --ui-container: var(--color-white);
}

.dark {
  --ui-primary: var(--ui-color-primary-400);
  --ui-secondary: var(--ui-color-secondary-400);
  --ui-success: var(--ui-color-success-400);
  --ui-info: var(--ui-color-info-400);
  --ui-warning: var(--ui-color-warning-400);
  --ui-error: var(--ui-color-error-400);

  --ui-bg: var(--ui-color-neutral-950);
  --ui-container: var(--ui-color-neutral-800);
}

/* The base layer is for things like reset rules or default styles applied to plain HTML elements. */
@layer base {
  /* https://github.com/nuxt/ui/issues/2332 */
  button,
  [role="button"] {
    @apply cursor-pointer;
    @apply disabled:cursor-not-allowed;
  }
}

/* The components layer is for class-based styles that you want to be able to override with utilities. */
@layer components {
}

/* The utilities layer is for small, single-purpose classes that should always take precedence over any other styles. */
@layer utilities {
  .pagination-button {
    @apply min-h-[38px] min-w-[38px] justify-center rounded-full;
  }
}
