# Node and build artifacts
node_modules
.nuxtrc
.nuxt
dist

# Environment and configuration files
.env

# Logs
*.log

# Git and version control
.git
.gitignore


# Linting and formatting configurations
.prettierrc
.eslintrc
.eslintignore
*.tsbuildinfo

# Other unnecessary files
Dockerfile
README.md
